<div class="app-container">
  <div class="sidebar">
    <div class="profile-section">
      <div class="profile-circle">L</div> <h3>Likhitha</h3>
    </div>
    <nav class="nav-menu">
      <a routerLink="/dashboard" routerLinkActive="active" class="nav-link">Dashboard</a>
      <a routerLink="/profile" routerLinkActive="active" class="nav-link">Profile</a>
      <a routerLink="/contact" routerLinkActive="active" class="nav-link">Contacts</a>
      <a routerLink="/settings" routerLinkActive="active" class="nav-link">Settings</a>
      <a routerLink="/goals" routerLinkActive="active" class="nav-link">Goals</a>
      <a (click)="onLogout()" class="nav-link logout-btn">Logout</a>
    </nav>
  </div>
  <p onclick="contacts()"></p>
    <p onclick="profile()"></p>
    <p onclick="settings()"></p>
    <p onclick="goals()"></p>
<div class="dashboard-header">
  <div class="container">
    <div class="dashboard-box">
      <h1 class="dashboard-title">Welcome to your Student Dashboard !</h1>
      <a routerLink="/dashboard">Home</a> >> <span> Student records for 2026 !</span>
    </div>
      <form #searchForm="ngForm" (ngSubmit)="onSearch(searchForm.value.q)" class="search-bar">
    <input type="text" placeholder="Search bar" name="q" ngModel required>
    <button type="submit">search</button>
  </form>
    </div>
  <h1 style="color: black;margin-right:700px;margin-top:80px;"> Study Timetables</h1>
  <p style="color: black;margin-left:200px;margin-top:50px;text-align:left">
    Welcome to your student portal. Studynet shows you a quick view of upcoming events and timetables 
    related to your course and your teaching sessions along with the scheduled assignments, due dates.You can view 
  a more detailed teaching timetable at this website.
  If you are a new returning student please note that timetable for the new 2025/26 academic year will be
  released on august. If you are new student, your timetable will be available up to three days after completing 
  the registration.          
  If you are a member of staff, you can access the your personal timetable from monday.
  </p>
  <header class="dashboard-head">
<h1>Student dashboard for 2026</h1>
    <div class="header-actions">
      <span>Look ahead </span>
      <button class="add-widget">+ Add widget</button>
    </div>
    </header>
    <div class="dashboard-grid">
    <div class="card small">
      <h3>Student Status</h3>
      <div class="chart-container">
        <canvas baseChart
          [data]="doughnutChartData"
          [options]="doughnutChartOptions"
          [type]="'doughnut'">
        </canvas>
      </div>
      <ul class="legend">
        <li><span class="dot enrolled"></span> Enrolled</li>
        <li><span class="dot pending"></span> Pending</li>
        <li><span class="dot application"></span> Application</li>
      </ul>
    </div>
    <div class="card wide">
      <h3>Attendence Status</h3>
      <div class="chart-container">
        <canvas baseChart
          [data]="barChartData"
          [options]="barChartOptions"
          [type]="'bar'">
        </canvas>
      </div>
      
    </div>
  
    </div>
    <div class="course-container">
     <div class="course-header">
      <h1>Course List</h1>
      <p class="subtitle">My course details</p>
      <section class="detail-section">
    <div class="section-header">
      <h3>Modules</h3>
      <select class="year-dropdown">
        <option>2025/26</option>
        <option>2024/25</option>
      </select>
    </div>
    <div class="link-item">
      <a href="#">7COM1084-0901-2025 - Advanced Research Topics in Computer Science</a>
    </div>
    <div class="button-wrapper">
      <button class="btn-browse">Browse...</button>
    </div>
  </section>

  <section class="detail-section">
    <h3>Programme sites</h3>
    <div class="link-item">
      <a href="#">Modular Masters Programme in Computer Science</a>
    </div>
    <div class="button-wrapper">
      <button class="btn-browse">Browse...</button>
    </div>
  </section>

  <section class="detail-section">
    <h3>General sites</h3>
    <div class="link-item border-bottom">
      <a href="#">Clubs Events Activities - Physics Engineering Computer Science</a>
    </div>
    <div class="link-item">
      <a href="#">Academic Support Hub</a>
    </div>
    <div class="button-wrapper">
      <button class="btn-browse">Browse...</button>
    </div>
  </section>
</div>
  
     </div>
    </div>
   
    </div>
       