<div class="login-container">
  <div class="login-box">
<h1>Login</h1>
<div class="dashboard-header">
  <div>
   
    <p class="subtitle">Provide your username and password</p>
  </div>
<form (ngSubmit)="onSubmit()" #loginForm="ngForm" novalidate>
  <div>
    <label for="username">Username:</label>
    <input
      type="text"
      id="username"
      [(ngModel)]="username"
      name="username"
      required
      placeholder="Enter username"
    />
    
  </div>

  <div>
    <label for="password">Password:</label>
    <input
      type="password"
      id="password"
      [(ngModel)]="password"
      name="password"
      required
      placeholder="Enter password"
    />
  </div>

  <button type="submit" [disabled]="loginForm.invalid">Sign In</button>

  <p *ngIf="message" [style.color]="isError ? 'red' : 'green'">
    {{ message }}
  </p>
  
</form>
</div>
</div>